@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

h1,
.h1 {
  font-size: 36px;
  text-align: center;
  font-size: 5em;
  color: #404041;
}
.position{
	padding:10px;
	
	
}
.navbar-nav>li>.dropdown-menu {
  top: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
  width: auto;
  font-weight: bold;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  /* width: 100%; */
  box-shadow: none;
  -webkit-box-shadow: none;
}

.aqlogo{
	margin-left:43px;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

@media (max-width:768px) {
	.navbar-collapse.collapse {
		/* width:110%; */
	}

}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #eac42c;
  font: 400 14px/30px 'Poppins', sans-serif;
  text-shadow: black;
  font: 400 17px 'Poppins' sans-serif;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}